/* Inicio [Estilos de uso general] */

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.bg-purple {
  background-color: #140328;
}

.fc-purple {
  color: #140328;
}

/* Fin [Estilos de uso general] */
