/* Inicio [Estilos de uso general] */

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.bg-purple {
  background-color: #140328;
}

.fc-purple {
  color: #140328;
}

.top-margin {
  margin-top: 30px;
}

.bottom-margin {
  margin-bottom: 30px;
}

.inline-block {
  display: inline-block;
}

/* Fin [Estilos de uso general] */
